
h3 {
    padding: 0;
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}

.filters {
    background-color: white;
    height: 70px;
    width: 100%; /*of the container*/
    border: 1px solid #DDDDDD; /*with radius 4px*/
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%; /*of the section filters;*/
    border-radius: 4px; /* round the button */
    border: none;
    margin-right: 30px;
    margin-left: auto;
}

.filters button:hover {
    opacity: 90%;
}

/*- ----------------------* /
/* locations div */
.filters .locations {
    height: 100%; /* of the section filters */
    width: 25%; /* of the section filters */
    border-right: 1px solid #DDDDDD;  /* only for the first left filter Locations */
    /* using flexbox */
    display: flex;
    flex-direction: column; /* makes colum state and text */
}
/* [State] for box default */
.filters .locations h3 {
    font-weight: 600;
    padding-left: 50px;
    padding-top: 15px;
    margin-bottom: 0.3em; /* Margen de state to the botton 1em = M(size)*/
}
/* [Name state] for dafault box */
.filters .locations h4 {
    font-weight: 400;
    font-size: 14px;
    /* margin-left: 50px; */
}

/*- ----------------------* /
/*  amenities div */
.filters .amenities {
    height: 100%; /* of the section filters */
    width: 25%; /* of the section filters */
    /* using flexbox */
    display: flex; 
    flex-direction: column;
}

.filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0.3em;
    padding-left: 50px;
    padding-top: 15px;
}

.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    padding-left: 50px;
}


/*- ----------------------*/
.filters .popover::-webkit-scrollbar {
    display: none;
}


/* popover for locations and amenities */
.filters .locations .popover, .filters .amenities .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-left: 0;
    padding-bottom: 47px;

    /* margin move th hole box */
    margin-top: 15.3px;
    /* move the text inside of the box */
    padding-top: 20px;
    min-height: 300px;
    overflow-y: scroll;
    display: none;
    
}
.filters .locations:hover .popover, .filters .amenities:hover .popover{
    display: block;
}
/* remove the dots from the list calling the classname */
.filters .popover li {
    list-style-type: none;
}
.filters .locations .popover ul {
    margin-bottom: 20px;
    padding-left: 33px;
}

/*- ----------------------* /
/* dropdwon box from amenities */
.filters .amenities .popover {
    padding-left: 50px;
    list-style-type: none;
    /* padding-top: 35px; */
}
.filters .amenities .popover li {
    padding-bottom: 10px;
}

/*- ----------------------* /
/* dropdown for locations */
/* Name of the state */
.filters .popover h2 {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 16px;
}
/* name of the cities */
.filters .popover h4 {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    /* margin-left: 50px; */
}
